@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-black: #000000; /* Main background */
  --color-gold: #ffd700; /* Primary Accent, Borders/Lines, Button Background */
  --color-gray-400: #b0b0b0; /* Secondary Text */
  --color-yellow-300: #fcd34d; /* Hover Accent, Button Hover */
  --color-gray-900: #1a1a1a; /* Form Background */

  --font-playfair: "Playfair Display";
  --font-inter: "Inter";
}

body {
  @apply bg-gray-50;
}
